<section class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="">
                <div class="mb-3 card-body">
                    <label for="userName" class="form-label">Nombre:</label>
                    <input type="text" id="userName" class="form-control">
                </div>
                <div class="mb-3 card-body">
                    <label for="userMessage" class="form-label">Mensaje:</label>
                    <input type="text" id="userMessage" class="form-control">
                </div>
                <button class="btn btn-danger w-100 mt-4" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>