<section class="card">
    <div class="card-body">
        <h1>This is my website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laborum quae fuga dignissimos, ea sunt incidunt in porro possimus, totam accusamus iusto ut expedita assumenda mollitia. Ratione voluptate neque totam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla iusto quasi iure ipsam delectus eius nobis tempore consequuntur, accusantium impedit, voluptatibus quos atque. Odit distinctio repellat neque quibusdam ipsa? Tenetur assumenda eligendi provident ut, modi culpa numquam temporibus animi labore, cumque magnam itaque rerum iste molestiae adipisci explicabo accusantium doloremque aperiam? Recusandae commodi consequuntur facere officia vitae doloribus aliquam aperiam quam necessitatibus dolorem hic provident omnis ad quis, eos tempora repudiandae culpa neque molestias nobis expedita porro animi nam dolores. Quos quia repellat dolores, vero iste nam, explicabo beatae, numquam assumenda iusto sit error placeat vel soluta dignissimos non itaque in! Harum neque sit atque necessitatibus distinctio excepturi quibusdam totam temporibus veritatis, eveniet laboriosam.</p>
        <p>{{variable}}</p>
        <img src="/img/hermosa.png" class="logo rounded-circle mx-auto d-block p-4" alt="">
    </div>
</section>